<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend">
                <resource id="Magento_Backend::admin">
                    <resource id="Magento_Backend::admin_toweringmedia" title="ToweringMedia" sortOrder="100">
                        <resource id="ToweringMedia_Core::toweringmedia" title="Core" sortOrder="10">
                            <resource id="ToweringMedia_Core::config" title="Configuration" sortOrder="10"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
