<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="toweringmedia" translate="label" sortOrder="100">
            <label>ToweringMedia</label>
        </tab>
        <section id="toweringmedia_core" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Core Settings</label>
            <tab>toweringmedia</tab>
            <resource>ToweringMedia_Core::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="debug_mode" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Debug Mode</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable debug mode for all ToweringMedia extensions</comment>
                </field>
                <field id="license_key" translate="label" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>License Key</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment>Enter your ToweringMedia license key</comment>
                </field>
            </group>
        </section>
    </system>
</config>
